{% extends 'core/base.html' %}

{% block content %}

<h1 class="text-center">Gestionar segmento de vehiculo admitido</h1>

<table class="table text-bg-light">
    {% if tipovehiculo_list %}
    <thead>
        <tr>
            <th>Tipo de segmento</th>
            <th colspan="2">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for c in tipovehiculo_list %}

        <tr>
            <td>{{ c.tipo_segmento }}</td>
                        
            <td><a href="{% url 'tipovehiculo_edit' c.id %}" class="btn btn-info">Editar</a></td>
            <td><a href="{% url 'tipovehiculo_deleted' c.id %}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
            
        </tr>

        {% endfor %}

        {% else %}

        <h3>No se encuentran segmento de vehiculos registrados</h3>

        {% endif %}  

        

    </tbody>
</table>

{% endblock %}
